Source: kcrap
Section: net
Priority: optional
Maintainer: Dan Fuhry <dan@fuhry.com>
Build-Depends: debhelper (>=9),autotools-dev, dh-systemd, libkrb5-dev, libssl-dev, autoconf, quilt
Standards-Version: 3.9.6
Homepage: http://www.spock.org/kcrap/
#Vcs-Git: git://anonscm.debian.org/collab-maint/kcrap.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/kcrap.git

Package: kcrap
Architecture: any
Depends: ${shlibs:Depends},
 krb5-kdc,
 ${misc:Depends}
Description: MSCHAP for Kerberos
 KCRAP = Kerberos Challenge-Response Authentication Protocol. Implements
 MS-CHAP v1 and v2 on top of a Kerberos database with arcfour-hmac
 crypto.
